extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Justice Trent

        p.lead.text-light
          | Full Stack JavaScript Developer.
        
        .portfolio-bio
          p
            | Nine weeks ago I had abosolutely no experience in the tech industry. Today, I am confident in many areas of the JavaScript programing language. I am consistently searching for new learning opportunities to learn and grow through. With that said, learning JavaScript has been both challenging and rewarding thus far. I look forward to completing the Project Athena program, and seeing where this path takes me.  
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills


        ul
          li Object Oriented Programing
          li Vanilla JavaScript
          li JQuery
          li Express 
          li Pug
          li Fetch
        h6 Contact Info

        ul
          li 555-555-1234
          li justice.trent@verizon.com

        a.button.expanded(href='https://www.linkedin.com/in/justice-trent-277a0510a/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/justicetrent' target="_blank") GitHub
        a.button.expanded(href='https://teamtreehouse.com/justicetrent' target="_blank") Treehouse
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  